@import url(https://fonts.googleapis.com/css?family=Arimo);

$font-family: monospace;
$background-color: #292931;
$button-color: #E62163;
$download-color: #3AC464;
$button-width: 10em;

html,
body {
	height: 100%;
	position: relative;
}

body {
	margin: 0;
	background: $background-color;
	font-family: 'Arimo', sans-serif;
	color: #fff;
}

#root {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

hr {
	opacity: .3;
	margin: 2em 0;
}

h1 {
	font-family: $font-family;
}



label[for="file-input"] {
	display: block;
	margin-bottom: 1em;
	font-size: 1em;
	color: #fff;
	opacity: .9;
	font-weight: bold;
}

input[type="file"] {

	cursor: pointer !important;

	&::-webkit-file-upload-button {
		background: $button-color;
		border: 0;
		padding: 1em 2em;
		cursor: pointer;
		color: #fff;
		border-radius: .2em;
	}

	&::-ms-browse {
		background: $button-color;
		border: 0;
		padding: 1em 2em;
		cursor: pointer;
		color: #fff;
		border-radius: .2em;
	}

}
.text-center {
	text-align: center !important;
}

#convertBtn {
	display: block;
	width: 100%;
	background: $download-color;
	border: 0;
	margin-top: 60px;
	padding: 1em 2em;
	cursor: pointer;
	color: #fff;
	border-radius: .2em;
	&[disabled] {
		cursor: not-allowed;
		opacity: 0.5;
	}
}