<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Change Number formating in XML</title>
</head>

<body>
  <div id="root">
  	<label for="file-input">Ներբեռնեք ձեր .xml ֆայլը</label>
  	<input type="file" name="file-input" id="file-input">
  	<div class="text-center">
  		<button id="convertBtn" disabled>Download</button>
  	</div>
  </div>
</body>

</html>